<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="ecp" type="com.wiloon.enlab.domain.ECP" />
    </typeAliases>

    <mappers>
        <mapper resource="mybatis3sql/dictionary.xml" />
    </mappers>
</configuration>